{
  "extends": "hexo/test",
  "globals": {
    "should": true
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "node/no-unsupported-features/es-syntax": 0
      }
    }
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "node/no-missing-require": 0
  }
}
