[submodule "packages/hexo"]
	path = packages/hexo
	url = https://github.com/dimaslanjaka/hexo.git
	branch = v7-yarn-v3
[submodule "packages/warehouse"]
	path = packages/warehouse
	url = https://github.com/dimaslanjaka/warehouse.git
	branch = monorepo
[submodule "packages/hexo-front-matter"]
	path = packages/hexo-front-matter
	url = https://github.com/dimaslanjaka/hexo-front-matter
	branch = monorepo
[submodule "bin"]
	path = bin
	url = https://github.com/dimaslanjaka/bin.git
	branch = master
[submodule "packages/hexo-asset-link"]
	path = packages/hexo-asset-link
	url = https://github.com/dimaslanjaka/hexo-asset-link
	branch = master
