[submodule "packages/hexo"]
	path = packages/hexo
	url = https://github.com/dimaslanjaka/hexo.git
	branch = v7-yarn-v3
[submodule "packages/warehouse"]
	path = packages/warehouse
	url = https://github.com/dimaslanjaka/warehouse.git
	branch = monorepo
[submodule "packages/hexo-front-matter"]
	path = packages/hexo-front-matter
	url = https://github.com/dimaslanjaka/hexo-front-matter.git
	branch = monorepo
[submodule "packages/hexo-asset-link"]
	path = packages/hexo-asset-link
	url = https://github.com/dimaslanjaka/hexo-asset-link.git
	branch = monorepo
[submodule "test/hexo-theme-test"]
	path = test/hexo-theme-test
	url = https://github.com/dimaslanjaka/hexo-theme-unit-test.git
	branch = monorepo
[submodule "packages/hexo-theme-landscape"]
	path = packages/hexo-theme-landscape
	url = https://github.com/hexojs/hexo-theme-landscape.git
	branch = master
[submodule "packages/hexo-log"]
	path = packages/hexo-log
	url = https://github.com/dimaslanjaka/hexo-log.git
	branch = monorepo
[submodule "packages/hexo-util"]
	path = packages/hexo-util
	url = https://github.com/dimaslanjaka/hexo-util.git
	branch = monorepo
[submodule "packages/hexo-cli"]
	path = packages/hexo-cli
	url = https://github.com/dimaslanjaka/hexo-cli.git
	branch = monorepo
[submodule "packages/hexo-renderers"]
	path = packages/hexo-renderers
	url = https://github.com/dimaslanjaka/hexo-renderers
	branch = monorepo
